@import "reset.css";

:root {
    --background-color: white;
    --font-text: black;
}
img {
    width: 100px;
}
html {
    font-size: 18px;
}
body {
    font-family: Helvetica;
    background-color: var(--background-color);
    color: var(--font-text);
    margin: 0 auto;
    width: 80%;
}
section#teamList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

