@import "reset.css";

:root {
    --background-color: white;
    --font-text: black;
}
img {
    width: 30px;
}
html {
    font-size: 18px;
}
body {
    font-family: Helvetica;
    background-color: var(--background-color);
    color: var(--font-text);
    margin: 0 auto;
    width: 100%;
}


